@page "/productdetails/{productId:int}"

@inject ProductService productService

@if(product is null)
{
    <p>Still loading...</p>
}
else
{
    <h3 class="display-3">@product?.Name</h3>

    <div class="container">
        <div class="row">
            <div class="column">
                <p class="lead">@product?.Description</p>
            </div>
        </div>
        <div class="row mt-lg-4 bg-light">
            <div class="column">
                <ProductReviews Product="@product"/>
            </div>
        </div>
        <div class="row mt-lg-4">
            <div class="column">
                <button class="btn btn-primary" data-toggle="modal" data-target="#reviewModal">Add Review</button>
            </div>            
        </div>
    </div>

    <WriteReview Product="@product"/>
}


@code {
    [Parameter]
    public int ProductId { get; set; }

    Product? product;

    protected override async Task OnInitializedAsync()
    {
        product = await productService.GetProductById(ProductId);
    }    
}
